In [1]:
import urllib.request as url
import json

In [2]:
res = url.urlopen('https://api.covid19india.org/states_daily.json')

In [3]:
data = json.load(res)

In [4]:
states = data['states_daily']

In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame(states)

In [7]:
df.shape

(1050, 42)

In [8]:
confirmed_df = df[df['status'] == 'Confirmed']

In [9]:
total_cases = confirmed_df['tt']

In [10]:
total_cases[:5]

0     81
3     27
6     15
9     11
12    37
Name: tt, dtype: object

In [12]:
total_cases[1:5]

3     27
6     15
9     11
12    37
Name: tt, dtype: object

In [17]:
# total_cases[1]

In [18]:
x=[]
y=[]
for i in range(len(total_cases)-4):
    x.append(total_cases[i:i+4])
    y.append(total_cases.iloc[i+4])

In [21]:
x[0]

0    81
3    27
6    15
9    11
Name: tt, dtype: object

In [22]:
x[1]

3     27
6     15
9     11
12    37
Name: tt, dtype: object

In [23]:
import numpy as np

In [24]:
y = np.asarray(y)

In [25]:
y.shape

(346,)

In [27]:
y = y.reshape(-1,1)