In [1]:
import urllib.request as url
import json

In [2]:
res = url.urlopen("https://api.covid19india.org/states_daily.json")

In [3]:
data = json.load(res)

In [4]:
type(data)

dict

In [5]:
data.keys()

dict_keys(['states_daily'])

In [6]:
import pandas as pd

In [7]:
df = pd.DataFrame(data['states_daily'])

In [8]:
df.head()

,an,ap,ar,as,br,ch,ct,date,dateymd,dd,...,sk,status,tg,tn,tr,tt,un,up,ut,wb
0,0,1,0,0,0,0,0,14-Mar-20,2020-03-14,0,...,0,Confirmed,1,1,0,81,0,12,0,0
1,0,0,0,0,0,0,0,14-Mar-20,2020-03-14,0,...,0,Recovered,0,0,0,9,0,4,0,0
2,0,0,0,0,0,0,0,14-Mar-20,2020-03-14,0,...,0,Deceased,0,0,0,2,0,0,0,0
3,0,0,0,0,0,0,0,15-Mar-20,2020-03-15,0,...,0,Confirmed,2,0,0,27,0,1,0,0
4,0,0,0,0,0,0,0,15-Mar-20,2020-03-15,0,...,0,Recovered,1,0,0,4,0,0,0,0

In [9]:
df.shape

(1347, 42)

In [10]:
df.tail()

,an,ap,ar,as,br,ch,ct,date,dateymd,dd,...,sk,status,tg,tn,tr,tt,un,up,ut,wb
1342,32,15469,415,4263,2090,215,3838,04-Jun-21,2021-06-04,0,...,262,Recovered,3821,33646,763,197763,0,3646,4006,16557
1343,2,83,3,54,23,3,23,04-Jun-21,2021-06-04,0,...,3,Deceased,15,463,5,3372,0,136,58,113
1344,17,10373,327,3781,1007,98,1356,05-Jun-21,2021-06-05,0,...,253,Confirmed,2070,21410,708,114486,0,1028,619,7682
1345,24,15958,402,3099,1667,175,3408,05-Jun-21,2021-06-05,0,...,283,Recovered,3762,32472,670,189343,0,4346,2531,16146
1346,1,80,1,44,21,3,30,05-Jun-21,2021-06-05,0,...,2,Deceased,18,443,11,2682,0,120,33,118

In [11]:
df.columns

Index(['an', 'ap', 'ar', 'as', 'br', 'ch', 'ct', 'date', 'dateymd', 'dd', 'dl',
       'dn', 'ga', 'gj', 'hp', 'hr', 'jh', 'jk', 'ka', 'kl', 'la', 'ld', 'mh',
       'ml', 'mn', 'mp', 'mz', 'nl', 'or', 'pb', 'py', 'rj', 'sk', 'status',
       'tg', 'tn', 'tr', 'tt', 'un', 'up', 'ut', 'wb'],
      dtype='object')

In [13]:
df['dl'].tail()

1342    1161
1343      50
1344     414
1345    1683
1346      60
Name: dl, dtype: object

In [15]:
confirmed_df = df[df['status'] == 'Confirmed']

In [16]:
confirmed_df.shape

(449, 42)

In [17]:
confirmed_df['dl'].tail()

1332    623
1335    576
1338    487
1341    523
1344    414
Name: dl, dtype: object

In [18]:
confirmed_df['mh'].tail()

1332    14123
1335    15169
1338    15229
1341    14152
1344    13659
Name: mh, dtype: object