In [1]:
import pymysql

In [11]:
conn = pymysql.connect(host='localhost', port=3306, database='test_db')

In [12]:
import pandas as pd

In [13]:
pd.read_sql("select * from customers",conn)

    id   name  age   city
0  101    Ram   45  Delhi
1  102  Mohan   30   Pune

In [14]:
conn.close()