In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {
    "height" : [5.8,4.5,5.0,5.2,6.1,5.8,5.9,5.10,5.7,6.2,5.2,5.4,5.9],
    "weight" : [75,47,51,54,80,77,90,70,58,91,49,61,73],
    "gender" : ['m','f','f','f','m','m','m','m','f','m','f','f','m']
}

In [3]:
df = pd.DataFrame(data)

In [5]:
df.head()

   height  weight gender
0     5.8      75      m
1     4.5      47      f
2     5.0      51      f
3     5.2      54      f
4     6.1      80      m

In [6]:
total = df['gender'].count()

In [7]:
total

13

In [8]:
male_count = df['gender'][df['gender'] == 'm'].count()
female_count = df['gender'][df['gender'] == 'f'].count()

In [9]:
male_count, female_count

(7, 6)

In [10]:
male_prob = male_count / total
female_prob = female_count / total

In [11]:
male_prob, female_prob

(0.5384615384615384, 0.46153846153846156)

In [12]:
mean = df.groupby('gender').mean()

In [13]:
mean

          height     weight
gender
f       5.166667  53.333333
m       5.828571  79.428571

In [14]:
var = df.groupby('gender').var()

In [15]:
var

          height     weight
gender
f       0.162667  29.066667
m       0.125714  66.952381

In [16]:
def likelihood(x,mean,var):
    return (1 / (np.sqrt(2 * np.pi * var))) * (np.exp(-((x - mean) ** 2)) / (2 * var))

In [17]:
male_mean_height = mean['height'][1]
male_mean_weight = mean['weight'][1]

female_mean_height = mean['height'][0]
female_mean_weight = mean['weight'][0]

male_var_height = var['height'][1]
male_var_weight = var['weight'][1]

female_var_height = var['height'][0]
female_var_weight = var['weight'][0]

In [24]:
test_df = pd.DataFrame({'height' : [4.9], 'weight' : [50]})

In [25]:
test_df

   height  weight
0     4.9      50

In [26]:
male_pred_prob = likelihood(test_df['height'], male_mean_height, male_var_height) * \
                 likelihood(test_df['weight'], male_mean_weight, male_var_weight) * \
                 male_prob

In [27]:
female_pred_prob = likelihood(test_df['height'], female_mean_height, female_var_height) * \
                 likelihood(test_df['weight'], female_mean_weight, female_var_weight) * \
                 female_prob

In [28]:
male_pred_prob > female_pred_prob

0    False
dtype: bool